# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/helpers.*
.lh/

# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
.yarn
testem.log
.yarn

# Config
.env.local
.env

# System Files
.DS_Store
Thumbs.db
