:root {
  --primary-color: #414246;
  --secondary-color: #fff;
  --gray: #98999a;
  --accent: #86e294;
  --accent-lighter: #aeecb9;
}

body {
  margin: 0;
  color: var(--primary-color, #000);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
